$primary-color: #FFF;
$background: #000;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    color: $primary-color;
    background: $background;
}

.content-container::after {
    content: "";
    display: table;
    clear: both;
    padding: 1rem;
}
    
h1 {
    font-family: Poppins;
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    line-height: 102px; /* 121.429% */
    letter-spacing: -2px; 
}

.sidebar {
    float: left;
    width: 40%;
    margin-top: 30px;
    margin-left: 50px;
    padding-right: 50px;
 }
 
.sidebar p {
   
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */  
}

.icon {
    display: flex;
    align-items: baseline;
    margin-bottom: 50px;
    margin-left: 30px;
}