$primary-color: #FFF;
$background: #000;

* {
    box-sizing: border-box;
    margin: 0;  
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 1440px;
    height: 810px;
    color: $primary-color;
    background: $background;
}

.content-container {
   display: flex;
   flex-wrap: wrap; 
   padding: 1rem;
}

.content-container::after {
    content: "";
    display: flex;
    clear: both;
    padding: 1rem;
}

.sidebar {  
    float: left;
    width: 50%;
    padding: 1rem; 
}

.sidebar h1 {
    font-family: "Poppins";
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    line-height: 102px; /* 121.429% */
    letter-spacing: -2px; 
    padding-top: 6rem;
}

.sidebar p {
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */  
}

.sidebar .portrait img {
    display: flex;
    width: 100%;
    max-width: 585px;
    padding-right: 1rem;
    padding-left: 3rem;
    
}
.icon img{
    display: inline;
    margin-bottom: 30px;
    margin-left: 1rem;
}
/* Responsive layout to stack the two columns on 
top of each other instead of next to each other */
@media screen and (min-width: 320px) and (max-width: 900px) {
    .sidebar {
        width: 100%;
    }
    .sidebar h1 {
        text-align: center;
    }
    p {
        text-align: center;  
    }
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .sidebar .portrait img {
       margin-left: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar h1 {
        font-size: 84px;
    }  
}
@media screen and (max-width: 800px) {
    .sidebar h1 {
        font-size: 50px;
    }   
}